<nav >
  <div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-2 col-md-2"><a routerLink="/home">主页</a></div>
      <div class="col-xs-2 col-md-2"><a routerLink="/discovery">发现</a></div>
      <div class="col-xs-2 col-md-2"><a>眉购</a></div>
      <div class="col-xs-2 col-md-2"><a>消息</a></div>
      <div class="col-xs-2 col-md-2"><a>我的</a></div>
      <div class="col-xs-1 col-md-1"></div>
    </div>
  </div>
</nav>
