#icon-nav{
    padding-top:20px;
    padding-bottom:20px;  
    background-color: #fff;
    text-align: center;
    .icon-button{
    width: 80px;
    height: 80px;
    margin: 0 auto;

    i{
        width: 40px;
        height: 40px;
        background-color: #ccc;
        text-align: center;
        font-size: 2rem;
        line-height: 40px;

    }
    h4{
        font-size: 1rem;
    }
}
}
