<div class="container-fluid" id="icon-nav">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="icon-button" [routerLink]="['/article/help']">
          <i class="img-circle glyphicon glyphicon-education"> </i>
          <h4>小白宝典</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="icon-button">
          <i class="img-circle glyphicon glyphicon-education"> </i>
          <h4>精选日记</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="icon-button" [routerLink]="['/mall/rack']">
          <i class="img-circle glyphicon glyphicon-education"> </i>
          <h4>超值眉购</h4>
          </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="icon-button">
          <i class="img-circle glyphicon glyphicon-education"> </i>
          <h4>名师荟萃</h4>
          </div>
        </div>
    </div>
</div>
