<form>
  <md-card>
  <md-card-header>
    <md-card-title>登陆</md-card-title>
  </md-card-header>
  <!--<md-input-container hintLabel="必填项" -->
  <!--<md-hint>必填项</md-hint> 和hintLabel效果一致-->
  <!--floatPlacholder:always 让placeholer 永远漂浮，never:不飘浮-->
  <!--<span mdPrefix>Mr.</span>-->
  <!--<span mdSuffix>@gmail.com</span> 限定后缀-->
  <!-- <md-error> 指令-->
 
  <md-card-content color="warn"> 
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="Your email">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="Your Password">
      </md-input-container>
      <!--<button md-button type="button">登录</button> 默认:, md-raised-button:3Dbutton,md-fab:圆形按钮，md-mini-fab:小的原型按钮，-->
      <button md-raised-button type="button">登录</button>
  </md-card-content>
  <md-card-actions class="text-right">
    <p>没有账户？<a href="">注册 </a></p>
    <p>忘记密码？<a href="">找回</a></p>
  </md-card-actions>
</md-card>

<md-card>
  <md-card-header>
    <md-card-title>
        每日佳句
    </md-card-title>
    <md-card-subtitle>
      信息蓄势待发
    </md-card-subtitle>
  </md-card-header>
  <img md-card-image src="/assets/timg.jpg" alt="">
  <md-card-content>
    sdfllllasdkfkasdjfkasdfjllllaskdfjasdfjk 
  </md-card-content>
</md-card>
</form>
